.button {
    padding: 18px 78px;
    background-color: var(--color-main);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    box-shadow: 0 20px 20px rgba(245, 56, 56, 0.35);
}