.choose {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
    &__wrapper {
        padding: 80px 0 75px 0;
    }
    &__title {
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        margin: 0 auto;
        max-width: 555px;
        margin-top: 15px;
    }
    &__product {
        margin-top: 60px;
    }

}