.navHeader {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    align-items: center;
    &__logo {
        flex: 25%;
        width: 140px;
    }
    &__list {
        flex: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    &__link {
        text-decoration: none;
        color: var(--color-text);
        font-size: 16px;
        font-weight: 400;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            transition: 0.3s all ease;
            background-color: var(--color-main);
        }
        &:hover {
            color: #000;
            &:after {
                width: 100%;
            }
        }
    }
    &__sign {
        text-align: end;
        flex: 25%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    &__signLink {
        color: var(--color-title);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        padding: 0 15px;
        transition: 0.3s all ease;
        &:hover {
            transition: 0.3s all ease;
            &:nth-child(2) {
                background-color: var(--color-main);
                color: #fff;
            }
        }
        &--active {
            padding: 10px 40px 10px 40px;
            border-radius: 50px;
            border: 1px solid var(--color-main);
            color: var(--color-main);
        }
    }

}